"*":
  "atom-latex":
    build_after_save: false
    compiler: "xelatex"
    latexmk_param: "-synctex=1 -file-line-error -pdf -xelatex"
    toolchain: "latexmk toolchain"
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoActivation: false
  "character-table":
    enableCharacterMnemonics: true
  core:
    disabledPackages: [
      "terminal-plus"
      "atom-terminal"
      "character-table"
      "open-path"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-preview"
    ]
    telemetryConsent: "limited"
  editor:
    code_newline: "{19A4}"
    fontSize: 18
    softTabs: false
    tabType: "hard"
  "exception-reporting":
    userId: "7a8bdf06-4e8f-48df-a033-d870305454c9"
  "linter-ui-default":
    panelHeight: 2775
    showPanel: true
  "markdown-preview": {}
  "markdown-preview-enhanced":
    latexEngine: "xelatex"
    marginsType: "minimum margin"
    pandocArguments: "--pdf-engine=xelatex"
    pandocMarkdownFlavor: "markdown"
    previewTheme: "github-dark.css"
  "markdown-writer":
    siteImagesDir: "images/"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  runner:
    extensions:
      py: "python"
  "tool-bar":
    visible: false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".null-grammar.plain.text":
  whitespace:
    removeTrailingWhitespace: false
