packages: [
  "atom-latex"
  "atom-terminal"
  "build"
  "build-make"
  "busy"
  "busy-signal"
  "character-table"
  "cursor-history"
  "graphviz-preview-plus"
  "hyperclick"
  "intentions"
  "language-dot"
  "language-gams"
  "language-julia"
  "language-latex"
  "language-matlab"
  "language-r"
  "linter"
  "linter-chktex"
  "linter-spell"
  "linter-ui-default"
  "markdown-pdf"
  "markdown-preview-enhanced"
  "markdown-writer"
  "open-path"
  "open-terminal-here"
  "package-sync"
  "pdf-view"
  "project-plus"
  "reveal-in-finder"
  "script"
  "sourcerer"
  "split-diff"
  "tabs-to-spaces"
  "terminal-plus"
  "title-case"
  "wordcount"
  "Zen"
]
